.BrowseNovelCardContainer {
  @apply flex items-start w-full bg-white;
  @apply rounded-lg shadow-lg border border-gray-100;
  @apply p-3;
  @apply overflow-hidden;
  @apply hover:shadow-xl;
  @apply transition-all duration-150 ease-in;
  /* height: 230px; */
}

.BrowseNovelCardContainer:hover {
  border-color: var(--secondary-color);
}



.BrowseNovelCardImageContainer {
  @apply rounded-lg shadow overflow-hidden;
  @apply h-40 w-24;
  @apply shrink-0 mr-4 my-auto;
}

.BrowseNovelCardImage {
  @apply h-full w-full;
  @apply object-fill;
}

.BrowseNovelCardInfo {
  @apply flex flex-col h-full;
  @apply overflow-hidden;
}

.BrowseNovelCardTitle {
  @apply text-sm font-medium;
}

.BrowseNovelCardAuthor {
  @apply text-xs mb-2 font-medium text-gray-600;
}

.BrowseNovelCardDescription {
  @apply text-xs relative;
  @apply text-gray-500;
  @apply text-justify;
  @apply overflow-hidden;
  height: 54px;
}

.BrowseNovelCardDescriptionFade {
  @apply absolute h-full w-full;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 48%,
    rgba(255, 255, 255, 1) 97%
  );
}

.BrowseNovelCardIndicator {
  @apply flex items-center justify-center;
  @apply mt-3;
  @apply h-6 text-center text-xs;
  @apply rounded;
}

.BrowseNovelCardIndicatorInLibrary {
  @apply text-green-400 bg-opacity-20 font-medium;
}
