.Attribute {
    @apply flex flex-col;
    color: #565656;
}

.Attribute h1 {
    @apply font-bold text-sm
}

.Attribute p{
    @apply text-xs mt-2;
}

.Tabs {
    @apply flex justify-evenly md:justify-start md:space-x-4 md:px-5 border-b;
    border-color: #e7e7e7;
}

.Tabs li{
    @apply md:text-lg;
}

.TabSelected {
    @apply font-medium border-b-2;
    border-color: #eb79a8;
    color: #5a5a5a;
}

.TabNotSelected {
    @apply text-gray-400;
}
